
<!DOCTYPE html>
<html lang="en">
    <%- include('./patials/head.ejs') %>
<body>

    <%- include('./patials/nav.ejs') %>

  
<div class="details content">

<h2><%=blog.title %></h2>
<div class="content">
    <p><%=blog.body %></p>
</div>
<a class="delete" data-doc="<%= blog._id %>">Delete</a>
</div>
<%- include('./patials/footer.ejs') %>

<script>
const transcan=document.querySelector('a.delete');
transcan.addEventListener('click',(e)=>{
    const endpoint=`/blogs/${transcan.dataset.doc}`;
    fetch(endpoint,{
        method:'DELETE'
    })
    .then((response)=>response.json())
    .then((data)=>window.location.href=data.redirect)
    .catch(err=>console.log(err));
})

</script>
</body>
</html>