<!DOCTYPE html>
<html lang="en">
    <%- include('./patials/head.ejs') %>
<body>
<%- include('./patials/nav.ejs') %>

<div class="blogs content">
<h2>All Blogs</h2>
<%  if(blogs.length>0) {%>

<% blogs.forEach((blog)=>{ %>

    <a href="/blogs/<%=blog._id %>" class="single">
<h3 class="title"><%= blog.title  %></h3>
<p class="snippet"><%=blog.snippet %></p>


<%})%>


<% } else {%>

<p>No blog to display ....:)</p>

    <% } %>


</div>

<%- include('./patials/footer.ejs') %>
</body>
</html>